.idea
.temp/exports/category/main/modelV1.pt
utils/__pycache__/model.cpython-311.pyc
.temp/exports/category/main/modelV1.pt
*.pyc
main/GUI/tempCodeRunnerFile.py
.temp/exports/category/main/modelV1.pt
main/GUI/tempCodeRunnerFile.py
main/GUI/tempCodeRunnerFile.py
utils/tempCodeRunnerFile.py
main/GUI/tempCodeRunnerFile.py
utils/__pycache__/data_prep.cpython-311.pyc
models/pt_sub_modelV1
.temp
venv
